@model RecipeHelp.Models.Recipe
@inject IUserRepo _userRepo

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title> Details </title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">RecipeHELP</a>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <form class="d-flex ms-auto">
                    <input class="form-control me-2" type="search" name="keyword" id="recipe search" placeholder="search recipes..." aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit" id="recipe search button">GO</button>
                </form>
                <ul class="navbar-nav mb-2 mb-md-0 ms-lg-5">
                    @if (_userRepo.IsUserLoggedIn() == true)
                    {
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="User" asp-action="Index">@_userRepo.GetLoggedInUserName()</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="User" asp-action="ResetPassword">Reset Password</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="User" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="User" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="User" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="ResetPassword">Reset Password</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg-body">
        <a  class="btn btn-primary" href="javascript:history.go(-1)">Back</a>
        <br />
        <br />
        <h1>Details</h1>
        <br />
        <br />
        <div>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"> @Model.Name </h3>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Budget: @Model.Budget </li>
                            <li class="list-group-item">Cooktime: @Model.Cooktime </li>
                            <li class="list-group-item">Course: @Model.Course </li>
                            <li class="list-group-item">Cuisine: @Model.Cuisine </li>
                            <li class="list-group-item">Diet: @Model.Diet </li>
                            <li class="list-group-item">Difficulty: @Model.Difficulty </li>
                            <li class="list-group-item">Ingredients: @Model.Ingredients </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>